@import "tailwindcss";

@theme {
  --color-brand-orange: #F37021;
  --color-brand-blue: #0047AB;
  --color-sidebar: #0A192F;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
